<header>
	<div class="container">
		<div class="search-form-wrapper">
			<%= render partial: 'users/searchform', locals: {user: @user} %>		
		</div>
		<br>
		<div class="nav-links">
			<%= link_to 'Edit', edit_user_path(@user) %> |
			<%= link_to 'Back', users_path %>
		</div>
	</div> <!-- end container -->
</header>

<div class="container">
	<div class="row">
		<div class="sidebar">
			<h1 id="name">
			  <%= @user.name %>
			</h1>
			<div class="urls">
				<div>
				  <h4>Website adress:</h4>
				  <%= link_to @user.website_url, @user.website_url, target: 'blank' %>
				</div>

				<div>
				  <h4>Short url:</h4>
				  <%= link_to @user.short_url, @user.short_url, target: 'blank' %>
				</div>
			</div>
		</div>

		<div class="main-content">
			<p>
				<%= form_for @user.friendships.new do |f| %>
					<%= f.hidden_field :friender_id, value: @user.id %>
					<%= f.select(:friended_id, @user.options_for_friends ) %>
					<%= f.submit %>
				<% end %>
			</p>
			<div class="panel-group">
				<div id="panel-buttons">
					<button data-target="headings" class="<%= 'active' unless params[:search] %>">Headings</button>
					<button data-target="friends" >Friends</button>
					<button data-target="expert-search" class="<%= 'active' if params[:search] %>" >Search</button>
				</div>
				<div id="headings" class="<%= 'active' unless params[:search]%> panel" >
					<h4>Website Headings:</h4>
					<% @user.headings.each do |heading| %>
						<p class="<%= heading.group %> heading" > <%= heading.content %> </p>
					<% end %>
				</div>

				<div id="friends" class="panel" >
					<h4>Friends:</h4>
					<% @user.friends.each do |friend| %>
						<p class="friend" > <%= friend.name %> <%= link_to friend.website_url, friend.website_url, target: 'blank' %></p>
					<% end %>
				</div>

				<div id="expert-search" class="panel <%= 'active' if params[:search] %>" >
					<div class="search-form-wrapper">
						<%= render partial: 'users/searchform', locals: {user: @user} %>
					</div>
				  <div id="search-results">
			  		<% if @search_results %>
							<% @search_results.each do |result| %>
								<div class="result">
									<p><%= result[0] %></p>
									<p><%= result[1].join(' -> ') %></p>
							 </div>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- end row -->
</div> <!-- end container -->

<script>
	panelButtons();
</script>